git "file:///Users/gonzalo/Projects/Personal Libraries/LeanToolsKit" "master"
git "file:///Users/gonzalo/Projects/Personal Libraries/LeanUIKit" "master"
git "file:///Users/gonzalo/Projects/Personal Libraries/LeanNetworkKit" "master"
